/*.container, .title{
	width: 1200px;
	margin: 0 auto;
}*/
html{
	  overflow: visible;
}
h3{
	font-size: 1.4rem;
	padding:10px;
}
 .title{
  background-color: #ddd;
 }

.page{
	width: 1140px;
	margin: 0 auto; 
	 border: 1px solid #ccc;
  border-radius: 10px;
  	font-size: 16px;
}
/*公司简介*/
#page_1{
	margin-top: 108px;
  margin-bottom: 60px;
}
#page_1 p{
	margin: 10px;
	/*font-size: 16px;*/
}
/*联系我们*/
#page_2 .container {
	padding:0 20px;
}
#page_2{
	margin-bottom: 40px;
}
.address_1,.address_2{
	display: inline-block;
	margin-top: 34px;
	vertical-align: top;
}
.address_1 p{
	margin-bottom: 20px;
}

.map{
	  width: 560px;
	  border-radius: 20px;
  border: 1px solid #ccc;
}
.address_2{
	  margin-top: 82px;
	    margin-left: 40px;
}
.address_2 p{
  margin-bottom: 20px;
}
.contactWay{
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.contactWay span{
	display: inline-block;
	padding-top: 84px;
	background-size: 80px;
}
.way_1{
	background:url(../img/company/icon_1.jpg) no-repeat 50% 0%;

}
.way_2{
	margin: 0 100px;
	background:url(../img/company/icon_2.jpg) no-repeat 50% 0%;
}
.way_3{
	margin-right: 100px;
	background:url(../img/company/icon_3.jpg) no-repeat 50% 0%;
}
.way_4{
	background:url(../img/company/icon_4.jpg) no-repeat 50% 0%;
}















