{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}
{% from "bootstrap/pagination.html" import render_pagination %}

{# ... #}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}


  <div class="table-responsive">
    <table class="table table-condensed  table-striped table-hover">
      <thead>
        <tr>
          <th>商品关键字</th>
          <th>商品ID</th>
          <th>店家ID</th>
	  <th>详情数据</th>
	  <th>评价数据</th>
          <th>销售数据</th>
        </tr>
      </thead>
      <tbody>
      <h1></h1>
      {% for i in qsp.items %}
          <tr>
              <td><a href="{{ i.href|safe }}">{{ i.pid}}</a> </td>
              <td>{{ i.keywords }}</td>
                <td><a href="{{ i.shop.href|safe }}">{{ i.shop.sid}}</a> </td>
              <td><a href="/detail/{{ i.pid }}">详情</a></td>
              <td><a href="/rates/{{ i.pid }}">评价</a></td>
                <td><a href="/deal/{{ i.pid }}">销售</a></td>	      
            </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{{render_pagination(qsp)}}
{% endblock %}
