.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*点击按钮的放大*/
.clickscale{
	animation-name:clickscale;
	-webkit-animation-name:clickscale;
	-webkit-animation-duration: 2s;
  animation-duration: 2s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
@keyframes clickscale{
    from{
      transform:scale(1);
      -webkit-transform:scale(1);
    }
    50%{
      transform:scale(0.7);
       -webkit-transform:scale(0.7);
    }
    100%{
      transform:scale(1);
       -webkit-transform:scale(1);
    }
}
@-webkit-keyframes clickscale{
   from{
      transform:scale(1);
      -webkit-transform:scale(1);
    }
    50%{
      transform:scale(0.7);
      -webkit-transform:scale(0.7);
    }
    100%{
      transform:scale(1);
      -webkit-transform:scale(1);
    }
}

/*谈话框的背景从上掉下来*/
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

/*对话框从左出去*/
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/*对话框从右进来*/
.slideInRightP{
  -webkit-animation-name: slideInRightP;
  animation-name: slideInRightP;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRightP {
  from {
    opacity: 1;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    visibility: visible;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@keyframes slideInRightP {
  from {
    opacity: 1;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    visibility: visible;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
/*page1*/
/*谈话框 淡入淡出*/
.fadeInOutC{
  animation-name:fadeInOutC;
  -webkit-animation-name:fadeInOutC;
  animation-delay:1s;
  -webkit-animation-delay:1s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
}
.fadeInOut_p4{
  animation-name:fadeInOutC;
  -webkit-animation-name:fadeInOutC;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
}
@keyframes fadeInOutC{
    from{
      opacity: 0;
    }    
    30%,70%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}
@-webkit-keyframes fadeInOutC{
    from{
      opacity: 0;
    }    
    20%,80%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}
.fadeInOutC2{
  animation-name:fadeInOutC;
  -webkit-animation-name:fadeInOutC;
  animation-delay:5s;
  -webkit-animation-delay:5s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
}

/*风吹*/
.windchui{
  animation-name:windchui;
  -webkit-animation-name:windchui;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
.windchui2{
  animation-name:windchui;
  -webkit-animation-name:windchui;
  animation-delay:0.3s;
  -webkit-animation-delay:0.3s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
@keyframes windchui{
    from{
      height:0;
    }    
    100%{
      height:40%;
    }
}
@-webkit-keyframes windchui{
    from{
      height:0;
    }   
    100%{
      height:40%;
    }
}

/*人向左走*/
.runleft{
  animation-name:runleft;
  -webkit-animation-name:runleft;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}
@keyframes runleft{
  from{
    left: 78.8875%;
    top: 66.734127%;
  }
  100%{
    left: 42.2875%;
    top: 41.234127%;
  }
}
@-webkit-keyframes runleft{
  from{
    left: 78.8875%;
    top: 66.734127%;
  }
  100%{
    left: 42.2875%;
    top: 41.234127%;
  }
}

/*人运动到门的放大*/
.scaleDoor{
  animation-name:scaleDoor;
  -webkit-animation-name:scaleDoor;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}
@keyframes scaleDoor{
  from{
    transform:scale(1);
    -webkit-transform:scale(1);
    transform-origin: 45% 48%;
    -webkit-transform-origin: 45% 48%;
  }
  100%{
    transform:scale(2.6);
    -webkit-transform:scale(2.6);
    transform-origin: 45% 49%;
    -webkit-transform-origin: 45% 49%;
  }
}
@-webkit-keyframes scaleDoor{
  from{
    transform:scale(1);
    -webkit-transform:scale(1);
    transform-origin: 45% 49%;
    -webkit-transform-origin: 45% 49%;
  }
  100%{
    transform:scale(2.6);
    -webkit-transform:scale(2.6);
    transform-origin: 45% 49%;
    -webkit-transform-origin: 45% 49%;
  }
}

.perrun{
  animation-name:perrun;
  -webkit-animation-name:perrun;
  animation-duration:0.5s;
  -webkit-animation-duration:0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  animation-delay:1s;
  -webkit-animation-delay:1s;
}
@keyframes perrun{
  from{
    left: 41.59375%;
    top: 33.535714%;
  }
  100%{
    left: 8.59375%;
    top: 16.535714%;
  }
}
@-webkit-keyframes perrun{
  from{
    left: 41.59375%;
    top: 33.535714%;
  }
  100%{
    left: 8.59375%;
    top: 16.535714%;
  }
}
.perrun2{
  animation-name:perrun2;
  -webkit-animation-name:perrun2;
  animation-duration:0.5s;
  -webkit-animation-duration:0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
@keyframes perrun2{
  from{
    left: 44%;
    top: 46%;
  }
  100%{
    left: 50%;
    top: 29%;
  }
}
@-webkit-keyframes perrun2{
  from{
    left: 44%;
    top: 46%;
  }
  100%{
    left: 50%;
    top: 29%;
  }
}
/*page4*/
/*风吹 page2*/
.windchui_p4{
  animation-name:windchui_p4;
  -webkit-animation-name:windchui_p4;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
.windchui2_p4{
  animation-name:windchui_p4;
  -webkit-animation-name:windchui_p4;
  animation-delay:0.3s;
  -webkit-animation-delay:0.3s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
@keyframes windchui_p4{
    from{
      height:0;
    }    
    100%{
      height:90%;
    }
}
@-webkit-keyframes windchui_p4{
    from{
      height:0;
    }   
    100%{
      height:90%;
    }
}

/*闹钟的分针旋转*/
.clockrotate{
  animation-name:rotate;
  -webkit-animation-name:rotate;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
@keyframes rotate{
    from{
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
    }  
    100%{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
    }
}
@-webkit-keyframes rotate{
    from{
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
    }   
    100%{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
    }
}

/*page6*/
/*闹钟的时针旋转*/
.clockrotateH{
  animation-name:clockrotateH;
  -webkit-animation-name:clockrotateH;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
@keyframes clockrotateH{
    from{
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
    }  
    100%{
       transform:rotate(270deg);
       -webkit-transform:rotate(270deg);
    }
}
@-webkit-keyframes clockrotateH{
    from{
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
    }   
    100%{
       transform:rotate(270deg);
       -webkit-transform:rotate(270deg);
    }
}
.loadingrotate{
  animation-name:loadingrotate;
  -webkit-animation-name:loadingrotate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
@keyframes loadingrotate{
    from{
      
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
    }  
    100%{
       transform:rotate(360deg);
       -webkit-transform:rotate(360deg);
    }
}
@-webkit-keyframes loadingrotate{
    from{
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
    }   
    100%{
       transform:rotate(360deg);
       -webkit-transform:rotate(360deg);
    }
}

/*page3*/
/*谈话框的抖动*/
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*page3*/
/*检测器*/
.showcircle1{
  animation-name:showcircle;
  -webkit-animation-name:showcircle;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:3;
  animation-iteration-count:3;
}
.showcircle2{  
  animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
}
.showcircle3{
  animation-delay:0.9s;
  -webkit-animation-delay:0.9s;
}
.showcircle4{
  animation-delay:1.3s;
  -webkit-animation-delay:1.3s;
}
.showcircle5{
  animation-delay:1.6s;
  -webkit-animation-delay:1.6s;
}
@keyframes showcircle{
    from{
      opacity: 1;
    }   
    100%{
      opacity: 0;
    }
}
@-webkit-keyframes showcircle{
    from{
      opacity: 1;
    }   
    100%{
      opacity: 0;
    }
}

/*去睡觉*/
.gobed{
  animation-name:gobed;
  -webkit-animation-name:gobed;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
}
@keyframes gobed{
    from{
      left: -7.1125%;
    }   
    100%{
      left:12.8875%;
    }
}
@-webkit-keyframes gobed{
    from{
      left: -7.1125%;
    }   
    100%{
      left:12.8875%;
    }
}

/*page4*/
/*拖拽的提示*/
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration:1s;
  animation-duration:1s;
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

/*起床*/
.outbed{
  animation-name:outbed;
  -webkit-animation-name:outbed;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
}
@keyframes outbed{
    from{
      left:12.8875%;
    }   
    100%{
     left: -7.1125%;
    }
}
@-webkit-keyframes outbed{
    from{
      left:12.8875%;
    }   
    100%{
      left: -7.1125%;
    }
}

/*手机从右出去*/
.slideOutRightP{
  -webkit-animation-name: slideOutRightP;
  animation-name: slideOutRightP;
  animation-duration:1s;
  -webkit-animation-duration:1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
@-webkit-keyframes slideOutRightP {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    visibility: hidden;
  }
}
@keyframes slideOutRightP {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    visibility: hidden;
  }
}

/*page4*/
/*走到客厅门的动画*/
.rundoor{
  animation-name:rundoor;
  -webkit-animation-name:rundoor;
}
@keyframes rundoor{
  from{
    left: 11.8875%;
    top: 56.734127%;
  }   
  100%{
    left: 42.8875%;
    top: 48.734127%;
  }
}
@-webkit-keyframes rundoor{
  from{
    left: 11.8875%;
    top: 56.734127%;
  }   
  100%{
    left: 42.8875%;
    top: 48.734127%;
  }
}

.fadeInword{
  animation-name:fadeInword;
  -webkit-animation-name:fadeInword;
  animation-delay:1s;
  -webkit-animation-delay:1s;
  animation-duration:4s;
  -webkit-animation-duration:4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInword{
  from{
    opacity: 0;
  } 
  20%,60%,100%{
    opacity: 1;
  }
  40%,80%{
    opacity: 0.2;
  }
}
@-webkit-keyframes fadeInword{
  from{
    opacity: 0;
  } 
  20%,60%,100%{
    opacity: 1;
  }
  40%,80%{
    opacity: 0.2;
  }
}

/*page4*/
.fadeInOut{
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
/*  -webkit-animation-iteration-count:2;
  animation-iteration-count:2;*/
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes fadeInOut {
  from {
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@-webkit-keyframes arrow{
  0%{
    transform:translateY(0);
    -webkit-transform:translateY(0);
    opacity:0;
  }
  20%{
    transform:translateY(20px);
    -webkit-transform:translateY(20px);
    opacity:0;
  }
  40%{
    transform:translateY(15px);
    -webkit-transform:translateY(15px);
    opacity:1;
  }
  60%{
    transform:translateY(10px);
    -webkit-transform:translateY(10px);
      opacity:1;
  }
  80%{
    transform:translateY(5px);
    -webkit-transform:translateY(5px);
    opacity:1;
  }
  100%{
    transform:translateY(0);
    -webkit-transform:translateY(0);
    opacity:0;
  }
}
@keyframes arrow{
  0%{
    transform:translateY(0);
    -webkit-transform:translateY(0);
    opacity:0;
  }
  20%{
    transform:translateY(20px);
    -webkit-transform:translateY(20px);
    opacity:0;
  }
  40%{
    transform:translateY(15px);
    -webkit-transform:translateY(15px);
    opacity:1;
  }
  60%{
    transform:translateY(10px);
    -webkit-transform:translateY(10px);
      opacity:1;
  }
  80%{
    transform:translateY(5px);
    -webkit-transform:translateY(5px);
    opacity:1;
  }
  100%{
    transform:translateY(0);
    -webkit-transform:translateY(0);
    opacity:0;
  }
}
@-webkit-keyframes arrow1{
  0%{
    visibility:hidden;
  }
  100%{
    visibility:visible;
  }
}
@keyframes arrow1{
  0%{
    visibility:hidden;
  }
  100%{
    visibility:visible;
  }
}