.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8{
	display:none;
}
/*谈话框*/
.con_bg,.con_bg_p2,.con_bg_p3,.con_bg_p4,.con_bg_p6,.con_bg_p5,.con2_p5,.con1,.con2,.con3,.con4,.con5,.con6 ,.con7,.con8 {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 54%;
    z-index: 6;
}
.con9,.con10,.con11{
	width: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 25;
	opacity: 0;
}
.con1,.con_bg_p4{
	display: none;
}
/*page1*/
/*闹钟表盘*/
.clock{
	width: 13.125%;
	position: absolute;
	left:5.9375%;
	top:23.21428571428571%;
}
/*闹钟分针*/
.clockmin{
	width: 13.125%;
	position: absolute;
	left:5.9375%;
	top:23.21428571428571%;
}
/*闹钟时针*/
.clockhour{
	width: 13.125%;
	position: absolute;
	left:5.9375%;
	top:23.21428571428571%;
}
/*人1*/
.person1{
	width: 14.84375%;
	position: absolute;
	left: 78.8875%;
    top: 66.734127%;
	display: none;
}
/*人2*/
.person2{
	width: 15.15625%;
	position: absolute;
	left:84.8875%;
	top:71.734127%;
}
/*风吹*/
.windl,.windt,.p6_windl,.p6_windt{
	width: 58.90625%;
	height:40%;
	position: absolute;
	top:28.579365%;	
}
.windl,.p6_windl{
	left:10.71875%;
	background: url(../img/windl.png) no-repeat;
	background-size: 100%;
}
.windt,.p6_windt{	
	left:53.03125%;
	background: url(../img/windt.png) no-repeat;
	background-size: 100%;
}
.p6_windl,.p6_windt{
	opacity: 0;
}
/*点击按钮*/
.click,.click2{
	width: 18.59375%;
	position: absolute;
	z-index: 4;
    top: 41.639%;
    left: 33.625%;
}
.click3{
	width: 18.59375%;
	position: absolute;
	z-index: 4;
	top: 40.639%;
    left: 44.625%;
    display: none;
}
.click4{
	width: 18.59375%;
	position: absolute;
	z-index: 4;
    top: 41.639%;
    left: 33.625%;
}
.con8{
	top: 35%;
}
.con7{
	top: 49%;
}

/*page2*/

.bg{
	position: relative;
}
/*背景颜色*/
.livingbg{
	position: absolute;
	width: 100%;
	height:100%;
	background: #B99984;
	top:0;
	left:0;
}
.con_bg,.con2,.con_bg_p2,.con_bg_p3,.con6,.con7,.con4,.con5,.con_bg_p6{
	display: none;
}
/*门*/
.door2{
	width: 31.09375%;
	position: absolute;
	/*z-index: 20;*/
	top:12.3015873015873%;
	left:15.15625%;	
	-webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.dooropen{
	-webkit-transform: rotateY(80deg);
	transform: rotateY(80deg);
	-webkit-transform-origin: 0%;
	transform-origin: 0%;
}
.dooropen2{
	-webkit-transform: rotateY(70deg);
	transform: rotateY(70deg);
	-webkit-transform-origin: 0%;
	transform-origin: 0%;
}
.doorclose{
	z-index:5;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-origin: 0%;
	transform-origin: 0%;
}
/*人站着 在门边*/
.person_p2{
	width: 37.625%;
	position: absolute;
	left: 41.59375%;
    top: 33.535714%;
}
/*左侧风开*/
.p2_windl{
	width: 100%;
	height:95%;	
	position: absolute;		
	top:0%;	
	left:0%;
	background: url(../img/p2_windl.png) no-repeat;
	background-size: 100%;
}

/*page3*/
.p3_windopen{
	width: 19.21875%;
	position: absolute;
	left:44.375%;
	top:23.71031746031746%;
}
/*检测器*/
.circle1{
	width: 99.0625%;
	position: absolute;
	top:64.68253968253968%;
	left:0.9375%;
}
.circle2{
	width: 60%;
	position: absolute;
	top:47.32142857142857%;
	left:27.34375%;
}
.circle3{
	width: 36.875%;
	position: absolute;
	top:37.40079365079365%;
	left:42.65625%;
}

.circle4{
	width: 23.59375%;
	position: absolute;
	top:31.6468253968254%;
	left:51.40625%;
}
.circle5{
	width: 13.90625%;
	position: absolute;
	top:27.48015873015873%;
	left:57.8125%;
}
.circle6{
	width: 8.125%;
	position: absolute;
	top:24.90079365079365%;
	left:61.71875%;
}
/*吹风*/
.p3_windl,.p3_windt{
	width: 70.90625%;
	height:40%;
	position: absolute;
	top:24.579365%;	
	display: none;
}
.p3_windl{
	left:-10%;
	background: url(../img/windl.png) no-repeat;
	background-size: 100%;
}
.p3_windt{	
	left:47.03125%;
	background: url(../img/windt.png) no-repeat;
	background-size: 100%;
}
.p4_windl,.p4_windt{
	width: 100%;
	height:90%;
	position: absolute;
	top:-11.420635%;
	opacity: 0;
}
.p4_windl{
	left:-10%;
	background: url(../img/windl.png) no-repeat;
	background-size: 100%;
}
.p4_windt{
	left:47.03125%;
	background: url(../img/windt.png) no-repeat;
	background-size: 100%;
}
/*人*/
.person_p3{
	position: absolute;
	width: 15.15625%;
	left: -7.1125%;
    top: 52.734127%;
}
.person1_p3{
	position: absolute;
	width: 15.15625%;
	left: 12.8875%;
    top: 52.734127%;
    display: none;
}
.bed{
	position: absolute;
	width: 87.65625%;
	left:12.65625%;
	top:58.63095238095238%;
}
.bed2{
	position: absolute;
	width: 87.65625%;
	left:12.65625%;
	top:58.63095238095238%;
	display: none;
}
.mask{
	width: 100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	z-index: 5;
	background: rgba(24,24,24, 0.6);
	display: none;
}
/*手机*/
.p6_phone,.p4_phone{
	position: absolute;
	width: 56.5625%;/*362/640*/
	z-index: 15;
	left:21.71875%;
	top:13.54166666666667%;
	display: none;
}

.p6_btn,.p4_btn{
	width: 35.347432024169184%;
	position: absolute;
	left:50%;
	margin-left: -17.673716012084592%;
	top:68.837743%;
}
.p6_sugg2,.p4_sugg1{
	width: 100%;
	position: absolute;
	left:0;
	top:60%;
	opacity: 0;
}
.p6_zhong,.p4_zhong{
	width: 100%;
	position: absolute;
	left:0;
	top:36.326279%;
}
.p6_jiance2,.p4_jiance2{
	width: 100%;
	position: absolute;
	left:0;
	top:44.326279%;
	display: none;
}
.p6_wuran,.p6_jianceing,.p4_wuran,.p4_jianceing{
	width: 100%;
	position: absolute;
	left:0;
	top:55%;
}
.p6_wuran,.p4_wuran{
	display: none;
}
.pmvalue,.p4_pmvalue{
  width: 20%;
  height: 24px;
  top: 20%;
  position: absolute;
  right: 7%;
  font-size: 1.6rem;
  color: #fff;
  line-height: 24px;
}
.p6_tips,.p4_tips{
	width: 100%;
	position: absolute;
	z-index: 30;
	top:0;
	left:0;
	display: none;
}

/*环 begin*/
.p6_huan,.p4_huan{
	width: 100%;
	position: absolute;
	top:27%;
	left:0;
}
.p6_loading,.p4_loading{
	width: 41.43646408839779%;
	position: absolute;
	top:34%;
	left:50%;
	margin-left: -20.718232044198896%;
}
.con_bg2 {
    width: 72.5%;
    position: absolute;
    left: 13.75%;
    top: 4.734127%;
    z-index: 5;
    display: none;
}
/*page4*/
.p4_clock{
	width: 13.125%;
	position: absolute;
	left:83.90625%;
	top:26.28968253968254%;
}
.p4_clockmin{
	width: 13.125%;
	position: absolute;
	left:83.90625%;
	top:26.28968253968254%;
}
.p4_clockhour{
	width: 13.125%;
	position: absolute;
	left:83.90625%;
	top:26.28968253968254%;
}
.p4_person1{
	position: absolute;
	width: 15.15625%;
	left: 11.8875%;
    top: 56.734127%;
    display: none;
    transition:transform 0.8s;
	-webkit-transition:-webkit-transform 0.8s;
}
.p4_person2{
	width: 18.4375%;
	position: absolute;
	left:0%;
	top:62%;
}
.living_room2,.door3{
	transition:transform 0.8s;
	-webkit-transition:-webkit-transform 0.8s;
}
.scalespeed1{
	transform:scale(1.8);
	-webkit-transform:scale(1.8);
}
.scalespeed2{
	transform:scale(1.5);
	-webkit-transform:scale(1.5);
}
.game1,.game2,.game3{
	width: 20.78125%;
	position: absolute;
    z-index: 11;
    top: 18%;
}
.game1{
	left:12%;
}
.game2{
	left:40%;
}
.game3{
	left:68%;
}
.mouth{
	width: 70%;
	position: absolute;
	z-index: 10;
	left: 15%;
	top: 47%;
}
.showmask{
	display:block;
}

/*page5*/
.p5_person1{
	width: 22.734375%;
    position: absolute;
    left: 44%;
    top: 46%;
}
.page5{
	-webkit-perspective: 1000;
    perspective: 1000;
}
.door3{
	width: 28.1255%;
	position: absolute;
	left:42.34375%;
	top:27.48015873015873%;
	-webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.p5_windl{
	width: 100%;
	height:95%;	
	position: absolute;		
	top:-20%;
	left:0%;
	background: url(../img/p2_windl.png) no-repeat;
	background-size: 100%;
}
.con_bg_p5{
	display: none;
}
.con2_p5{
	display: none;
}
/*page6*/

/*检测器*/
.p6_circle1,.p6_circle2,.p6_circle3,.p6_circle4,.p6_circle5,.p6_circle6{
	display: none;
}
.p6_circle1{
	width: 99.0625%;
	position: absolute;
	top: 73.68254%;
    left: 0.9375%;
}
.p6_circle2{
	width: 60%;
	position: absolute;
	top: 63.321429%;
    left: 27.34375%;
}
.p6_circle3{
	width: 36.875%;
	position: absolute;
	top: 49.400794%;
    left: 42.65625%;
}

.p6_circle4{
	width: 23.59375%;
	position: absolute;
	top: 39.646825%;
    left: 51.40625%;
}
.p6_circle5{
	width: 13.90625%;
	position: absolute;
	top: 33.480159%;
    left: 57.8125%;
}
.p6_circle6{
	width: 8.125%;
	position: absolute;
	top: 30.900794%;
    left: 65.71875%;
}

/*page7*/
.arrow{
	position: absolute;
    bottom: 35px;
    left: 46.640625%;
    width: 32px;
    height: 32px;
    z-index: 20;
    background: url(../img/arrow.png) center center no-repeat;
    background-size: contain;
    visibility: hidden;
    -webkit-animation: arrow 1.5s linear infinite,arrow1 0.5s linear 2s;
    -webkit-animation-fill-mode: forwards;
    animation: arrow 1.5s linear infinite,arrow1 0.5s linear 2s;
    animation-fill-mode: forwards;
}

/*page8*/
.page8_bg{
	position: absolute;
	width:100%;
	top:0;
	left: 0;
}
.divuser,.divtel{
	width: 70%;
	height: 5%;
	font-size: 1.8rem;
	position: absolute;
	top:49.6031746031746%;
	left:15%;
}
.divtel{
	top:57.53968253968254%;
}
.username,.telNum{
	width: 70%;
	height:100%;
	color:#000;
	border:0;
	border-bottom:1px solid #666;
	font-size: 1.8rem;
}
.icon1,.icon2,.tel_icon1,.tel_icon2{
	position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    right: -3%;
    margin-left: -11px;
    margin-top: -11px;
    display: none;
}
.page8_bg2{
	width: 100%;
	position: absolute;
	bottom: 0;
	left:0;
}
.block{
	position: absolute;
    top: 50%;
    left: 50%;
    line-height: 100px;
    font-size: 28px;
    margin-left: -100px;
    margin-top: -50px;
    width: 200px;
    height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #E65049;
    display: none;
}
.yudingBtn{
	position: absolute;
    top: 68.45238095238095%;
    left: 50%;
    width:70%;
    height: 45px;
    line-height: 45px;
    margin-left: -35%;
    background-color: #fe7b20;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
.activity{
	width: 100%;
	position: absolute;
	top:80.35714285714286%;
	left:0%;
	font-size: 2rem;
	font-family: "宋体";
}
.activity p{
	width: 100%;
	text-align: center;
}