<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=`, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>调用扫一扫</title>
    <style>
        .Btn{
            display: block;
            width:80px;
            height:40px;
            line-height: 40px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            background-color: #cc9bc6;
            color: #000;
            text-align: center;
            text-decoration: none;
        }
    </style>
</head>
<body>
<a href="javascript:void(0);" class="Btn">扫一扫</a>
<div id="div"></div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{#{% include 'weixin/jsapi.html' %}#}
{% include 'weixin/jsapi.html' %}
{#{% if sign %}#}
{#<script>#}
{#    wx.config({#}
{#	  debug: false,#}
{#	  appId: '{{ sign.appId }}',#}
{#	  timestamp: {{ sign.timestamp }},#}
{#	  nonceStr: '{{ sign.nonceStr }}',#}
{#	  signature: '{{ sign.signature }}',#}
{#	  jsApiList: [#}
{#          'checkJsApi',#}
{#          'scanQRCode',#}
{#	  ]#}
{#	  });#}
{#</script>#}
{#{% endif %}#}
{#<script src="{{ url_for('app.static', filename='js/jsapi.js')}}"></script>#}
{#<script src="{{ url_for('weixin.static', filename='h5/2/js/jsapi.js') }}"></script>#}
</body>
</html>