<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>添加设备</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/addEquipment.css') }}">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">
			<header class="bar bar-nav">
              <a class="backBtn" href="javascript:void(0);">
                  <span class="icon icon-left iconFS"></span>
                  <span>返回</span>
              </a>
         	</header>
        	<div class="content wrap">
				<!-- 搜素到的设备 -->
				<div id="equipmentList"  class="list-block equip_list">
					<!-- 设备列表 -->
				    <ul>
				    	<!-- 设备名称 -->
                    	{% for i in machineIdName %}
					    <li class="item-content" data-productId="{{ i.productId }}">
					        <div class="item-inner">
					         	<div class="item-title">{{ i.productId }}</div>
					         	<a href="javascript:void(0);" class="item-after selectBnt"></a>
					        </div>
					    </li>
					    {% endfor %}
				    </ul>
					<!-- 添加设备按钮 -->
					<div id="sheBtn" class="row fixed_foort">
						<a href="javascript:void(0);" class="col-66 button button-fill addBtn">添加设备</a>
					</div>
				</div>
			</div>
		</div>
    </div>

	<script src="{{ url_for('static',filename="app/js/zepto.js") }}"></script>
	<script src="{{ url_for('static',filename="app/js/sm.js") }}"></script>
	<script type="text/javascript">
		(function(){

			// 点击返回按钮
			$(".bar .backBtn").eq(0).click(function() {
				window.history.back();
			});

			var allHeight = document.documentElement.clientHeight;
			var barHeight = $(".bar-nav ~ .content").offset().top;
			var contentHeight = allHeight - barHeight;
			// 求出设备列表的高度
			$(".equip_list").eq(0).height(contentHeight - $("#sheBtn").height());


			var _indexArr = [];//添加了class 的数组
			//  点击小图标添加设备
			function addEq(){
				var _index;//点击列表的下标
				// 点击哪个小图标 添加class，或者删除class
				$(".selectBnt").click(function(){
					_index = $(this).parents('.item-content').index();
					if(_indexArr.indexOf(_index) != -1){// 如果添加了class 那么点击时就移除class
						$(".selectBnt").eq(_index).removeClass('activeBnt');
						var indexN = _indexArr.indexOf(_index);
						_indexArr.splice(indexN,1);
					}else{// 如果没有添加class 那么点击时就添加class
						_indexArr.push(_index);
						$(".selectBnt").eq(_index).addClass('activeBnt');
					}

					// 将数组大小排序
 					_indexArr.sort(function(a,b){return a-b});
				});
			}

			// 点击小图标添加设备
			addEq();

			// 点击添加设备按钮添加到设备列表内
			$("#sheBtn .addBtn").eq(0).click(function() {
				if(_indexArr.length != 0){
					var machineIdArr = [];//添加了的新风机的title名的数组
					var jsonMachine;//json格式的设备信息
					for(var i = 0; i < _indexArr.length;i++){
						var machineId = $(".item-content").eq(_indexArr[i]).find('.item-inner .item-title').html();
						machineIdArr.push(machineId);
					}
					// 数组转化成json文本
					aj(machineIdArr);//machineIdArr转化成json

					// 数组转化成json文本的函数
					function aj(arr){
						// 数组转化成json
						var json = {};
						for(var j = 0;j < arr.length;j++){
						    json[j] = arr[j];
						}

						// json格式转成JSON 文本
						jsonMachine = JSON.stringify(json);
					}

					// 发送ajax 添加的设备的信息
					$.ajax({
						url: '/testing_app1/addEquipment',
						type: 'POST',
						dataType:"JSON",
						data: "productId=" + jsonMachine,
						success:function(data){
							window.location.href = "/testing_app1/equipment";
						}
					})
				}
			});

			$.init();

		})()
	
	</script>
</body>
</html>