<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>设备</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/equipment.css') }}">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">
         	<div class="content">
         	 	<div class="list-block equipList">
				    <ul>
				    	{% for i in machineJson %}
				    	<li class="item-content" data-productId="{{ i.productId }}">
					        <div class="item-media"><img src="{{ url_for('static',filename=i.proImgUrl) }}"></div>
					        <div class="item-inner">
					          	<div class="item-title">
					          		<p>{{ i.proName }}</p>
									<span>{{ i.controller }}控制</span>
								</div>
					          	<div class="item-after"><span class="icon icon-right iconFS"></span></div>
					        </div>
					    </li>
                    	{% endfor %}
				    </ul>
				</div>
				<div id="fixed_foort" class="row">
					<!-- 二维码通道按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn codeBnt">扫二维码添加设备</a>
					<!-- WiFi通道按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn wifiBnt">通过WiFi添加设备</a>
				</div>
         	</div>
        </div>
    </div>
	<script src="{{ url_for('static',filename="app/js/zepto.js") }}"></script>
	<script src="{{ url_for('static',filename="app/js/sm.js") }}"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    {% include 'weixin/scanQRCode.html' %}
	<script type="text/javascript">
		(function(){
			// 视口的高度
			var allHeight = document.documentElement.clientHeight;
			// 按钮的高度
			var foort_height = $("#fixed_foort").height();
			// 添加的设备的高度
			$(".equipList").eq(0).height(allHeight - foort_height);

			// 点击
			$(".item-content").click(function() {
				document.cookie = "productId="+ $(this).attr("data-productId");
				// $.cookie('productId', 'the_value'); // 存储 cookie
				console.log($(this).attr("data-productId"));
						window.location.href = "/testing_app1/install";

			});
				
			$.init();
		})()
	</script>
{#   二维码以及WiFi按钮处理#}
    <script src="{{ url_for('static', filename='app/js/equipmentList.js')}}"></script>
</body>
</html>