<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>添加设备</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/equipmentList.css') }}">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">
         	<div class="content wrap addMachine">
         		<!-- applogo -->
				<div class="logo"></div>
				<!-- 文件说明 -->
				<p>你离在家享受好空气只差一点点啦<br> 赶紧去添加一台新风机吧！</p>
				<div class="row fixed_foort">
					<!-- 二维码通道按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn codeBnt">扫二维码添加设备</a>
					<!-- WiFi通道按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn wifiBnt">通过WiFi添加设备</a>
				</div>
         	</div>
     	</div>
     	<!-- wifi搜索中 -->
     	<div class="page">
         	<div class="content wrap">
				<div id="wifi_ing">
					<div class="wifiBox">
						<!-- wifi——logo -->	
						<div class="wifi_bg"></div>
						<!-- 文字说明_wifi -->
						<p>正在搜寻同一WiFi网络下的设备</p>
					</div>
				</div>
         	</div>
     	</div>
     	<!-- 二维码扫描失败 -->
     	<div class="page">
     		<header class="bar bar-nav">
              <a class="backBtn" href="javascript:void(0);">
                  <span class="icon icon-left iconFS"></span>
                  <span>返回</span>
              </a>
         	</header>
         	<div class="content wrap codeFail">
				<!-- applogo -->
				<div class="logo"></div>
				<!-- 文件说明 -->
				<p>获取设备信息失败，你可以再扫一次<br> 或者通过WiFi添加设备。
				</p>
				<div class="row fixed_foort">
					<!-- 二维码通道按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn codeBnt">扫二维码添加设备</a>
					<!-- WiFi通道按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn wifiBnt">通过WiFi添加设备</a>
				</div>
         	</div>
     	</div>
    </div>
	<script src="{{ url_for('static',filename="app/js/zepto.js") }}"></script>
	<script src="{{ url_for('static',filename="app/js/sm.js") }}"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    {% include 'weixin/jsapi.html' %}
    <script src="{{ url_for('static', filename='app/js/equipmentList.js')}}"></script>
    <script>
        (function($){
            // 点击返回
            $(".backBtn").eq(0).on("click",function(){
                window.history.back();
            })
        })(Zepto)
    </script>
</body>
</html>