<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>兆晶新风机（卧室）</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/install_index.css') }}">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">
        <!-- tab 模式 -->
	        <nav class="bar bar-tab">
                <div class="tab-item external">
                	<a href="javascript:void(0);">
                		<i class="icon onOff"></i>
                    	<span class="tab-label">开关</span>
                    </a>
                </div>
                <div class="tab-item external">
               		<a href="javascript:void(0);">
               			<i class="icon auto"></i>
                    	<span class="tab-label">自动</span>
                    </a>
                </div>
                <div class="tab-item external">
                	<a href="javascript:void(0);">
                		<i class="icon sleeping"></i>
                    	<span class="tab-label">睡眠</span>
                    </a>
                </div>
            </nav>
            <!-- content -->
         	<div class="content install_bg">
         		<!-- 头部 -->
         		<header>
         			<a href="javascript:void(0);" class="icon icon-left pull-left backBtn"></a>
				  	<a href="javascript:void(0);" class="icon icon-settings pull-right iconInstall"></a>
				  	<h1><span>{{ machineModel.model }}</span>模式</h1>
				</header>
				<!-- 运行检测 -->
				<div class="jiance">
					<img src="{{ url_for('static',filename='app/img/dust.png') }}" alt="" class="dust">
					<img src="{{ url_for('static',filename='app/img/machineRun.png') }}" alt="" class="machineRun">
				</div>
				<!-- 列表 -->
				<div class="shezhiContent">
					<img src="{{ url_for('static',filename=machineModel.locationImg) }}" alt="">
					<div class="airContent">
						<ul class="installContent clearfix">
							<li>
								<p>温度&#8451;(设定/室内)</p>
								<p><span>{{ machineModel.temperOut }}</span>/<span>{{ machineModel.temperRoom }}</span></p>
							</li>
							<li>
								<p>湿度%(设定/室内)</p>
								<p><span>{{ machineModel.dampOut }}</span>/<span>{{ machineModel.dampRoom }}</span></p>
							</li>
							<li>
								<p>PM2.5(设定/室内)</p>
								<p><span>{{ machineModel.PMOut }}</span>/<span>{{ machineModel.PMRoom }}</span></p>
							</li>
							<li class="filterScreen">
								<p>滤网剩余寿命(天)</p>
								<p class="screenTime">{{ machineModel.netTime }}</p>

							</li>
							<li>
								<p>位置</p>
								<p>{{ machineModel.position }}</p>
							</li>
							<li>
								<p>空气质量</p>
								<p>{{ machineModel.airQuality }}</p>
							</li>
						</ul>
						<div class="airCity">您正呼吸着{{ machineModel.airPosition }}的空气</div>
					</div>
					<div class="rosebox">
						<h2>是否更换滤网</h2>
						<p>滤网还能用{{ machineModel.netTime }}天，马上更换滤网？</p>
						<div class="screenButton clearfix">
							<a href="javascript:void(0);" class="sure">确定</a>
							<a href="javascript:void(0);" class="cancel">取消</a>
						</div>
					</div>
				</div>
				<div class="mask"></div>
         	</div>
     	</div>
    </div>

	<script src="{{ url_for('static',filename="app/js/zepto.js") }}"></script>
	<script src="{{ url_for('static',filename="app/js/sm.js") }}"></script>
	<script>
		(function(){
			var airConHeight = $(".airContent").height();
			$(".shezhiContent img").height(airConHeight);

            //  点击返回
			$(".backBtn").click(function(){
	        	window.history.back();
	        })

            //  点击设置
	        $(".iconInstall").click(function(){
	        	window.location.href = "setup";
	        })

	        // 点击滤网
	        $(".screenTime").click(function(e) {
	        	e.stopPropagation();
				$(".mask").show();
				$(".rosebox").show();
				// 弹框的宽设为内容的宽度
				var contentWidth = $(".shezhiContent").width();
				var contentHeight = $(".rosebox").height();
				console.log(contentHeight)
				// 弹框的宽设为内容的宽度,top为中间位置
				$(".rosebox").css({
					width:contentWidth,
					marginTop:(-contentHeight/2)
				});
	        });

	        // 点击确定进入购买滤网页面
			$(".sure").click(function(e){
				e.stopPropagation();
				window.location.href = "/testing_app1/ordering"
			})

			// 点击取消
			$(".cancel").click(function(){
				$(".rosebox").hide();
				$(".mask").hide();
			})

			// 点击导航栏 切换模式

			var flag = {{ machineModel.onOff }};//开关
			var model = "{{ machineModel.model }}";//模式

			if(flag == true){//开启开关
				$(".bar-tab a").eq(0).children('i').addClass('active1').siblings('span').addClass('activeColor');
				if(model == "自动"){
					$(".bar-tab a").eq(1).children('i').addClass('active2').siblings('span').addClass('activeColor');
				}else if(model == "睡眠"){
					$(".bar-tab a").eq(2).children('i').addClass('active3').siblings('span').addClass('activeColor');
				}
			}else{//关闭开关
				$(".bar-tab a").eq(0).children('i').removeClass('active1').siblings('span').removeClass('activeColor');
				$(".bar-tab a").eq(1).children('i').removeClass('active2').siblings('span').removeClass('activeColor');
				$(".bar-tab a").eq(2).children('i').removeClass('active3').siblings('span').removeClass('activeColor');
			}

			// 点击开关
			$(".bar-tab a").eq(0).click(function() {
				if(flag == true){//关闭开关
					flag = false;
					model = "自动";
					$("header h1 span").html(model);
					$(".bar-tab a").eq(0).children('i').removeClass('active1').siblings('span').removeClass('activeColor');
					$(".bar-tab a").eq(1).children('i').removeClass('active2').siblings('span').removeClass('activeColor');
					$(".bar-tab a").eq(2).children('i').removeClass('active3').siblings('span').removeClass('activeColor');
					sendAjax();
				}else{//开启开关
					model = "自动";
					$("header h1 span").html(model);
					$(".bar-tab a").eq(1).children('i').addClass('active2').siblings('span').addClass('activeColor');
					$(".bar-tab a").eq(0).children('i').addClass('active1').siblings('span').addClass('activeColor');
					flag = true;
					sendAjax();
				}
			});

			// 点击自动
			$(".bar-tab a").eq(1).click(function() {
				if(flag == true){
					model = "自动";
					$(".bar-tab a").eq(2).children('i').removeClass('active3').siblings('span').removeClass('activeColor');
					$(this).children('i').addClass('active2').siblings('span').addClass('activeColor');
					$("header h1 span").html(model);
					sendAjax();
				}
			});

			// 点击睡眠
			$(".bar-tab a").eq(2).click(function() {
				if(flag == true){
					model = "睡眠";
					$(".bar-tab a").eq(1).children('i').removeClass('active2').siblings('span').removeClass('activeColor');
					$(this).children('i').addClass('active3').siblings('span').addClass('activeColor');
					$("header h1 span").html(model)
					// 发送请求，更改模式
					sendAjax();
				}
			});


			function sendAjax(){
				$.ajax({
					url: '/testing_app1/install',
					type: 'POST',
					data: "onOff=" + flag + "&model=" + model,
					success:function(data){
						console.log("success")
					},
					error:function(){
						console.log("error")
					}
				})
			}

			$.init();
		})();
	</script>
</body>
</html>