<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>滤网</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm-extend.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='app/css/net.css') }}">
</head>
<body>
	<div class="page-group">
		<div class="page">
			<div class="content wrap">
				<div class="row no-gutter">
					<div id="netImg" class="col-100">
						<!-- 滤网 -->
						<img src="{{ url_for('static',filename="app/img/net.jpg") }}" class="net">
					</div>
				</div>
				<div class="row no-gutter fixed_foort">
					<!-- 文件说明 -->
{#                    <p>滤网已为你工作<span>34</span>天了<br>建议<span>12</span>天后让它告老还乡吧。</p>#}
{#                    这个是不用ajax的写法#}
					<p>滤网已为你工作<span>{{ someday.work }}</span>天了<br>建议<span>{{ someday.no_work }}</span>天后让它告老还乡吧。</p>
					<!-- 一键更换滤网按钮 -->
					<a href="javascript:void(0);" class="col-66 button button-fill changeNetBnt">一键更换滤网</a >
				</div>	
			</div>
		</div>
	</div>
	<script src="{{ url_for('static',filename="app/js/zepto.js") }}"></script>
	<script src="{{ url_for('static',filename="app/js/sm.js") }}"></script>
    <script src="{{ url_for('static',filename="app/js/sm-extend.js") }}"></script>
	<script type="text/javascript">
        (function($){
{#            这是不用ajax的修改#}
{#           $.ajax({#}
{#                type:"POST",#}
{#                url:"/netTime",#}
{#                success:function(data){#}
{#                    console.log(data);#}
{#                    if(data){#}
{#                        //转化为json格式的数据#}
{#                        var json_data = JSON.parse(data);#}
{#                        $(".no-gutter p span").eq(0).html(json_data.usedTime);#}
{#                        $(".no-gutter p span").eq(1).html(json_data.remainTime);#}
{#                    }#}
{#                },#}
{#                error:function(){#}
{#                    console.log("error");#}
{#                }#}
{#            })#}
            $(document).on("ready",function(){
                var allHeight = $(window).height();
                var fixed_ft = $(".fixed_foort").eq(0).height();
                var netImg = $("#netImg");
                netImg.height(allHeight - fixed_ft);
                $(".changeNetBnt").eq(0).on("click",function(){
                    window.location.href = "/testing_app1/netList";
                })
            })
        }(Zepto))
	</script>
</body>
</html>