<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>个人</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app/css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/sm.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='app/css/personal.css') }}">
</head>
<body>
	<div class="page-group">
        <div class="page page-current">
         	<div class="content">
         	<!-- 个人列表 -->
         		<div class="list-block">
				    <ul>
				    	<!-- 头像 -->
				      	<li class="item-content">
					        <div class="item-inner">
					          	<div class="item-title headWord">头像</div>
					          	<div class="item-media headImg">
					          		<img src="{{ url_for("static",filename=perInfor1.headUrl) }}">
					          	</div>
					        </div>
					    </li>
							<!-- 昵称 -->
				      	<li class="item-content">
				        	<div class="item-inner">
				          		<div class="item-title">昵称</div>
				          		<div class="item-after nickname">{{ perInfor1.nickName }}<!-- 李大健 --></div>
				        	</div>
				      	</li>
				      	<!-- 设备 -->
				      	<li class="item-content">
				        	<div class="item-inner">
				          		<div class="item-title">设备</div>
				          		<div class="item-after machineN">{{ perInfor1.machine }}台<!-- 0台 --></div>
				        	</div>
				      	</li>
				      	<!-- 电话 -->
				      	<li class="item-content">
				        	<div class="item-inner">
				          		<div class="item-title">电话</div>
				          		<div class="item-after telphone">
				          			<input type="tel" class="inputTel" placeholder="请输入电话">
				          		</div>
				        	</div>
				      	</li>
				      	<!-- 地址 -->
				      	<li class="item-content noBottom">
				        	<div class="item-inner">
				          		<div class="item-title">地址</div>
				          		<div class="item-after address">
				          			<div class="dizhi">
				          				<input type="text" id='city-picker' class="city" placeholder="请选择地址"/>
				          				<input type="text" class="fullAddress" placeholder="请输入详细地址"/>
				          			</div>
				          		</div>
				        	</div>
				     	</li>
				    </ul>
				</div>
				<!-- 保存按钮 -->
				<div id="sheBtn" class="row fixed_foort">
					<a href="javascript:void(0);" class="col-66 button button-fill addBtn">保存</a>
				</div>
         	</div>
     	</div>
    </div>
	<script src="{{ url_for('static',filename="app/js/zepto.js") }}"></script>
	<script src="{{ url_for('static',filename="app/js/sm.js") }}"></script>
	<script src="http://g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="UTF-8"></script>
	<script>
		(function(){

			// 电话号码
			var strTel = null,telFirst,telLast;//电话号码，号码的前三位，号码的后四位
			yourTel = "{{ perInfor1.yourTel }}";
			if(yourTel){
				strTel = yourTel;
				telFirst = strTel.slice(0,3);//号码的前三位
				telLast = strTel.slice(7,11);//号码的最后四位
				$(".inputTel").val(telFirst + "****" + telLast);
			}

			// 地址  省市区
			var addressCity = "{{ perInfor1.addressCity }}";
			if(addressCity){
				// 将省市区变成数组形式
				var arrCity = addressCity.split(" ");
				// console.log(arrCity);
				// 省市区
				$("#city-picker").cityPicker({
				    toolbarTemplate: '<header class="bar bar-nav">\
				    <button class="button button-link pull-right close-picker">确定</button>\
				    <h1 class="title">选择地址</h1>\
				    </header>',
				    value:[arrCity[0],arrCity[1],arrCity[2]]
				});
			}else{
				// 省市区
				$("#city-picker").cityPicker({
				    toolbarTemplate: '<header class="bar bar-nav">\
				    <button class="button button-link pull-right close-picker">确定</button>\
				    <h1 class="title">选择地址</h1>\
				    </header>'
				});
			}

			// 详细地址
			var fullAddress = "{{ perInfor1.fullAddress }}";
			if(fullAddress){
				$(".fullAddress").val(fullAddress);
			}

			// 电话
			// 电话号码的正则
			var regTel = /^[1][358][0-9]{9}$/;
			var telRe;
			// 输入号码失去焦点
			$(".inputTel").blur(function(){
				telRe = $(this).val().replace(/\s/g,"");
				$(this).val(telRe)
				console.log(telRe+ "telRe")
				if(telRe == strTel){
					$(this).val(telRe);
					$(".telphone").parents(".item-content").removeClass('telActive');
				}else{
					strTel = telRe;
				}
				if(regTel.test(telRe)){
					// strTel = $(this).val();
					// telFirst = strTel.slice(0,3);//号码的前三位
					// telLast = strTel.slice(7,11);//号码的最后四位
					// // console.log($(this).val() + "  1-3 " + telFirst + "  7-11 " + telLast);
					// $(this).val(telFirst + "****" + telLast)
					strTel = telRe;
					$(".telphone").parents(".item-content").removeClass('telActive');
				}else if(telRe == ""){
					$(".telphone").parents(".item-content").removeClass('telActive');
				}else{
					$(this).focus();
					strTel = telRe;

				}
			});
			// 输入电话号码
			$(".inputTel").on("input",function(){
				telRe = $(this).val().replace(/\s/g,"");
				$(".telphone").parents(".item-content").addClass('telActive');
			})
			// 输入号码聚焦
			$(".inputTel").focus(function(){
				telRe = $(this).val().replace(/\s/g,"");
				$(".telphone").parents(".item-content").addClass('telActive');
				if(strTel && regTel.test(strTel)){
					if(telRe != strTel){
						$(this).val(strTel);
					}else{
						strTel = telRe;
					}
				}

			})

			// 保存按钮
			$("input").change(function(){
				if((regTel.test($(".inputTel").val()) && $(".inputTel").val() != yourTel) || ($(".city").val() != addressCity) || ($(".fullAddress").val() != fullAddress)){
					$(".fixed_foort").show();
				}

			})
			// var sendData;
			$("#sheBtn").click(function() {
				// 验证电话号码
				// if(regTel.test($(".inputTel").val()) && $(".inputTel").val() != yourTel){
				// 	sendData = "yourTel=" + $(".inputTel").val();
				// }
				// else if((regTel.test($(".inputTel").val()) && $(".inputTel").val() != yourTel) && addressCity != $(".city").val()){
				// 	sendData = "yourTel=" + $(".inputTel").val() + "&addressCity=" + $(".city").val();
				// }else if((regTel.test($(".inputTel").val()) && $(".inputTel").val() != yourTel) && fullAddress != $(".fullAddress").val()){
				// 	sendData = "yourTel=" + $(".inputTel").val() + "&fullAddress=" + $(".fullAddress").val();
				// }else if(addressCity != $(".city").val()){
				// 	sendData = "addressCity=" + $(".city").val();
				// }else if(addressCity != $(".city").val() && fullAddress != $(".fullAddress").val()){
				// 	sendData = "addressCity=" + $(".city").val() + "&fullAddress=" + $(".fullAddress").val();
				// }else if(fullAddress != $(".fullAddress").val()){
				// 	sendData = "fullAddress=" + $(".fullAddress").val();
				// }else if((regTel.test($(".inputTel").val()) && $(".inputTel").val() != yourTel) && addressCity != $(".city").val() && fullAddress != $(".fullAddress").val()){
					// sendData = "yourTel=" + $(".inputTel").val() + "&addressCity=" + $(".city").val() + "&fullAddress=" + $(".fullAddress").val();
				// }
				// 发送修改信息之后请求
				$.ajax({
					url: '/testing_app1/personal',
					type: 'POST',
					data: "yourTel=" + strTel + "&addressCity=" + $(".city").val() + "&fullAddress=" + $(".fullAddress").val(),
					success:function(){
						location.reload();
					}
				})

			});
		})();
	</script>
</body>
</html>