/*修改默认的背景的颜色*/
.page{
  background-color: #fff;
}
/*修改默认的按钮点击时的active*/
.button.button-fill.active, .button.button-fill:active {
  background-color: #f49068;
}
.bar .icon{
  padding: 0;
}
/*返回*/
a.backBtn{
  color:#999;
  margin-left: 0.75rem;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  display: inline-block;
}
/*修改头部默认样式*/
.bar{
  padding-left: 0;
  padding-right: 0;
  height: 45px;
  background-color: #f4f4f4;
}

.bar-nav ~ .content {
  top: 45px;
}
/*content区域的字体样式 根据页面进行添加*/
.wrap{
  color: #999;
}
/*按钮*/
a.button.addBtn{
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #f49068;
  float: none;
}
/*icon的字体大小*/
.bar .icon.iconFS {
  font-size: 16px;
}

#equipmentList{
  width: 100%;
  /*border: 1px solid rgba(255, 0, 0, 0);*/
  /*border:1px solid red;*/
}

/*设备列表*/
.equip_list{
  overflow: auto;
}
/*设备名称*/
.list-block {
  margin: 0;
}
.list-block ul:before,.list-block ul:after,.list-block .item-inner:before,.list-block .item-inner:after {
  content: none;
}
.list-block .item-content{
  padding-right: 0.75rem;
}
.list-block .item-inner{
  padding-right: 0;
  border-bottom: 1px solid #e2e4e4;
}
.item-title{
  color:#7e807f;
}
/*添加设备按钮 */
.selectBnt{
  width: 30px;
  height: 46px;
  border-radius: 0;
  background: url(../img/icons.png) no-repeat;
  background-size: 230px 350px;
  background-position: -145px -179px;
}

/*添加设备按钮 确定添加激活 */
.activeBnt{
  background-position: -192px -131px;
}
/*添加设备按钮*/
/*.addBnt{
  text-align: center;
}*/
.fixed_foort{
  padding:0.5rem 0 1rem 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
