/*修改默认的背景的颜色*/
.page{
  background-color: #fff;
}
/*修改默认的按钮点击时的active*/
.button.button-fill.active, .button.button-fill:active {
  background-color: #f49068;
}
.wrap{
  color: #999;
}
/*文件说明*/
.wrap p{
  text-align: center;
}
/*添加设备页面 page 1*/
.page .content.addMachine{
  top:45px;
}
/*app logo*/
.logo{
  margin: 10.526490066225166% auto 5.132450331125828%;
  width: 102px;
  height: 116px;
  background: url(../img/icons.png) no-repeat;
  background-size: 230px 350px;
  background-position: -6px -2px;
}
/*按钮*/
a.button.addBtn{
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #f49068;
  float: none;
}
/*按钮上的图标*/
.codeBnt:before,.wifiBnt:before{
  display: inline-block;
  content:"";
  width: 40px;
  height: 100%;
  margin-right: 2px;
  background: url(../img/icons.png) no-repeat;
  background-size: 230px 350px;
  vertical-align: middle;
}
/*二维码通道按钮*/
a.button.codeBnt,a.button.wifiBnt{
  font-size: 0.85rem;
}
.codeBnt:before{
  background-position: -186px -210px;
}

/*WiFi通道按钮*/
a.button.wifiBnt{
  margin-top: 15px;
}
.wifiBnt:before{
  background-position: -186px -280px;
}


/*按钮*/
.fixed_foort{
  padding:0.5rem 0 1rem 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0%;
  margin: auto;
  background-color: #fff;
}

/*wifi搜索中 page 2*/
#wifi_ing{
  text-align: center;
  color:#666;
}
#wifi_ing:before{
  content:"";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.wifiBox{
  width: 90%;
  display: inline-block;
}
.wifi_bg{
  margin: 0 auto 20px;
  width: 106px;
  height: 90px;
  background: url(../img/icons.png) no-repeat;
  background-size: 230px 350px;
  background-position: 0px -118px;
}

/*二维码扫描失败 page 3*/
.codeFail .logo{
  background-position: -122px -2px;
}
.bar .icon{
  padding: 0;
}
/*修改头部默认样式*/
.bar{
  padding-left: 0;
  padding-right: 0;
  height: 45px;
  background-color: #f4f4f4;
}
/*返回*/
a.backBtn{
  color:#999;
  margin-left: 0.75rem;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  display: inline-block;
}

