
.page{
  background-color: #fff;
}
.list-block {
  margin: 0;
  overflow: auto;
}
.list-block ul:before,.list-block ul:after,.list-block .item-inner:before,.list-block .item-inner:after {
  content: none;
}
.list-block .item-content{
  margin: 0 0.8rem;
  padding-left: 0;
  border-bottom: 1px solid #e2e4e4;
}
.list-block .item-inner{
  padding-right: 0;
  padding-top: 0;
}
/*修改默认的按钮点击时的active*/
.button.button-fill.active, .button.button-fill:active {
  background-color: #eee;
}


/*设备*/
.item-media{
  width: 20.5%;
}
.item-title p{
  font-size: 0.7rem;
  color: #262626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-title span{
  color:#4b4c4c;
  font-size: 0.5rem;
}
#fixed_foort{
  padding:0.5rem 0 1rem 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
/*按钮*/
a.button.addBtn{
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: #bbbbbb;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #eeeeee;
  float: none;
}
.codeBnt:before,.wifiBnt:before{
  display: inline-block;
  content:"";
  width: 40px;
  height: 100%;
  margin-right: 2.5%;
  background: url(../img/icons.png) no-repeat;
  background-size: 230px 350px;
  vertical-align: middle;
}
/*二维码通道按钮*/
a.button.codeBnt{
  font-size: 0.9rem;
}
.codeBnt:before{
  background-position:-126px -210px;
}
/*WiFi通道按钮*/
a.button.wifiBnt{
  margin-top: 15px;
  font-size: 0.9rem;
}
.wifiBnt:before{
  background-position:-130px -280px;
}