/*修改默认的背景的颜色*/
.page{
  background-color: #fff;
}
/*页面背景*/
.install_bg{
	background: url(../img/install_bg.png);
	background-size: cover;
	padding: 0 0.75rem;
}
/*头部 header*/
header{
	height: 45px;
}
header h1{
	font-size: 0.9rem;
  	margin: 0 auto;
  	width: 50%;
  	/*border: 1px solid red;*/
  	height: 45px;
  	line-height: 45px;
  	text-align: center;
  	color:#3d4a4b;
}
/*返回 设置*/
a.backBtn,.iconInstall{
	height: 45px;
  	line-height: 45px;
  	font-size: 1rem;
  	display: inline-block;
  	color: #3f4d4f;
}
a.backBtn:active,.iconInstall:active{
  	color: #3f4d4f;
}
/*tab 导航*/
nav.bar a{
	display: inline-block;
}
.bar-tab .tab-item a .icon{
	display: block;
	width: 20px;
	height: 24px;
	margin:0 auto;
	background: url(../img/install_icons.png) no-repeat 0 0;
	background-size: 150px 150px;
	/*border:1px solid red;*/
}
/*开关*/
.bar-tab .tab-item a .onOff{
	background-position: 1px -33px;
}
.bar-tab .tab-item a i.active1{
	background-position: 1px 2px;
}
/*自动*/
.bar-tab .tab-item a .auto{
	background-position: -40px -33px;
}
.bar-tab .tab-item a i.active2{
	background-position: -40px 2px;
}
/*睡眠*/
.bar-tab .tab-item a .sleeping{
	background-position: -84px -31px;
}
.bar-tab .tab-item a i.active3{
	background-position: -84px 4px;
}
/*字体*/
nav .tab-label{
	color:#666;
}
nav .tab-label.activeColor{
	color: #00ddcc;
}
/*检测*/
.jiance{
	position: relative;
	/*border:1px solid red;*/
}
.machineRun{
	width: 67.23868954758%;
	position: absolute;
	left:50%;
	bottom:0%;
	margin-left: -33.61934477379%;
}

/*列表的默认样式*/
.list-block .item-content{
	width: 50%;
	float: left;
	padding-left:0;
	border:1px solid red;
}
.list-block .item-inner{
	padding-right: 0;
}
p{
	margin: 0.25rem 0;
	text-align: center;
}

/*设置内容*/
.shezhiContent{
	width: 100%;
	position: relative;
}
.shezhiContent img{
	width: 100%;
	height: 100%;
}
.airContent{
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(92,149,193,0.8);
}
.installContent li{
	float: left;
	width: 50%;
	border-bottom: 1px solid #bfd5e5;
	padding:1.4285714285714285% 0;
}
.installContent li p{
	width: 100%;
	text-align: center;
	color:#1d2c37;
	font-size: 0.8rem;
}
.installContent li p:nth-child(2){
	font-size: 1rem;
	color:#f4fbfc;
}
/*城市空气*/
.airCity{
	padding:0.25rem 0.75rem;
}



/*购买滤网*/
.rosebox{
	display: none;
	position: fixed;
	z-index: 20;
	margin:0 0.75rem;
	background: #fff;
	border-radius:5px;
	top:50%;
	left:0%;
	text-align: center;
}
.rosebox h2{
	color: #262626;
	font-size: 1rem;
	padding: 0.5rem 0;
}
.rosebox p{
  	margin: 0 auto 0.75rem;
  	width: 90%;
  	font-size: 0.75rem;
  	color: #7e807f;
}

.screenButton{
	width: 71.42857142857143%;
	margin: 0 auto 0.75rem;
}
/*按钮*/
.screenButton a{
	font-size: 0.75rem;
	width: 35%;
	height: 30px;
	line-height: 30px;
	background: #00c5e2;
	border-radius: 5px;
	border:0;
	color: #fff;
}
/*确定*/
.sure{
	float: right;
}
/*取消*/
.cancel{
	float: left;
}
/*蒙层*/
.mask{
	width: 100%;
	height:100%;
	position: fixed;
	z-index: 15;
	top:0;
	left:0;
	display: none;
	background: rgba(0,0,0,0.1);
}








