/*修改默认的背景的颜色*/
.page{
  background-color: #f4f4f4;
}
.bar .icon{
  padding: 0;
}
/*返回*/
a.backBtn{
  color:#999;
  margin-left: 0.75rem;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
/*修改头部默认样式*/
.bar{
  padding-left: 0;
  padding-right: 0;
  height: 45px;
  background-color: #f4f4f4;
}
.bar-nav ~ .content {
  top: 45px;
}
/*icon的字体大小*/
.bar .icon.iconFS {
  font-size: 16px;
}

/*文件说明*/
.introduce p{
	text-align: center;
  color:#666;
  font-size: 0.7rem;
  margin: 0.3rem 0;
}
/*产品介绍*/
.introduce{
  background-color: #fff;
  padding: 1rem 0.75rem;
}
/*标题*/
h2{
  text-align: center;
  color: #333;
  font-size: 1rem;
}