.wrap{
	margin: 0 auto;
	color: #999;
}
#netImg{
  text-align: center;
  background: #fff;
}
#netImg:before{
  content: "";
  display: inline-block;
  height:100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/*滤网*/
.net{
  display: inline-block;
  width: 12rem;
  vertical-align: middle;
}
/*文件说明*/
.wrap p{
	text-align: center;
    font-size:0.7rem;
}

a:before{
	display: inline-block;
	content:"";
	width: 2rem;
	height: 100%;
	margin: 0;
  background: url(../img/icons.png) no-repeat;
  background-size: 11.5rem 17.5rem;
	vertical-align: middle;
}
/*一键更换滤网按钮*/
.changeNetBnt{
	margin-top: 50px;
}
.changeNetBnt:before{
	background-position:-4.3rem -8.2rem;
}
/*一键更换滤网按钮*/
.fixed_foort a.button.changeNetBnt{
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: #fff;
  font-size: 0.8rem;
  font-weight: lighter;
  background-color: #f49068;
  float: none;
  text-align: center;
  letter-spacing: 0.4rem;
}
/*底部*/
.fixed_foort{
   padding: 0 0 1.2rem;
}
/*修改默认的按钮点击时的active*/
.button.button-fill.active, .button.button-fill:active {
  background-color: #f49068;
}