.wrap{
  margin: 0 auto;
  color: #666;
  background-color: #fff;
}
/*返回*/
a.backBtn{
  color:#999;
  margin-left: 0.75rem;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  display: inline-block;
}
/*修改头部默认样式*/
.bar{
  padding-left: 0;
  padding-right: 0;
  height: 45px;
  background-color: #f4f4f4;
}
.bar-nav ~ .content {
  top: 45px;
}
.bar .icon{
  padding: 0;
}
/*icon的字体大小*/
.bar .icon.iconFS {
  font-size: 16px;
}
/*列表*/
.list-block{
  margin: 0;
}
.list-block .item-content{
  padding-left: 0;
  font-size:0.7rem;
}
.list-block .item-inner:after,.list-block ul:after{
  content: initial;
}
.list-block .item-after{
  max-height: initial;
}
/*订单详情*/
#detailList{
  padding:0 0.75rem;
}
#detailList li{
    border-bottom: 1px solid #E8E8E8;  
}
.list-block .item-inner{
  padding-right: 0;
  min-height: initial;
}
/*滤网名称*/
#productText .productName{
  display: inline-block;
  vertical-align:middle;
  width: 66%;
}
.productName span{
  font-size: 0.6rem;
}
/*滤网图片*/
.netImg{
  max-width: 140px;
  width: 30%;
  display: inline-block;
  vertical-align:middle;
}

h2{
  line-height: 36px;
  font-size:0.8rem;
  color: #333;
  font-weight: 400;
}
/* 滤网购买数量 */
.quantity{
  border: 1px solid #dcdcdc;
}
/*购买个数*/
.quantity #num{
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #fff;
}
/*加一个 减一个*/
#add,#reduce{
  background: #f5f5f5;
  font-size: 14px;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  text-align: center;
  color: #dcdcdc;
}
/*收货信息*/
.list-block .item-text{
    width: 100%;
    height: inherit;
    padding-top: 0.4rem;
    padding-bottom: 0.35rem;
    font-size:0.7rem;
    color: #666;
}
.nameText{
  display: block;
}
/*收货人，电话*/
#name,#tel{
  color: #333;
  width: 40%;
  display: inline-block;
  font-size: 0.7rem;
  height: 1.6rem;
}
#tel{
  float: right;
  text-align: right;
}
/*收货地址*/
#address{
  color: #333;
  margin:0;
  /*height: 1.6rem;*/
}
#address input{
  /*width: initial;*/
  display: inline-block;
  font-size: 0.7rem; 
  height: 1rem; 
  margin-left: 10px;
}
#city-picker{
  width: initial;
    float: left;
}
.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
  padding: 0;
}
/*留言*/
.messageBox{
  width: 100%;
}
.messageBox .col-20{
  max-width: 90px;
}
#messBox{
  height: 1rem;
}
#message{
  display: inline-block;
  font-size: 0.7rem;
  vertical-align: middle;
  padding-left: 1rem;
}
/*购买滤网合计费用*/
.amountBox{
  color: #666;
  float: right;
  margin-right:1rem;
  font-size:0.7rem;
  padding-top: 0.4rem;
    padding-bottom: 1rem;
}
#amount{
  color:#f65f15;  
}
/*一键更换滤网按钮*/
.payBnt{
  margin-top: 50px;
}
.payBnt:before{
  background-position:-4.3rem -8.2rem;
}
/*一键更换滤网按钮*/
.fixed_foort a.button.payBnt{
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #f49068;
  float: none;
  text-align: center;
  letter-spacing: 0.4rem;
}
/*底部*/
.fixed_foort{
   padding: 0 0 1.2rem;
}
/*修改默认的按钮点击时的active*/
.button.button-fill.active, .button.button-fill:active {
  background-color: #f49068;
}
