/*修改默认的背景的颜色*/
.page{
  background-color: #f4f4f4;
}
/*修改默认的按钮点击时的active*/
.button.button-fill.active, .button.button-fill:active {
  background-color: #f49068;
}
.wrap{
  color: #999;
  margin-top: 0.5rem;
}
.list-block {
  margin: 0;
  margin-top: 0.5rem;
}
/*修改默认的列表的线条*/
.list-block ul:before,.list-block ul:after,.list-block .item-inner:before,.list-block .item-inner:after {
  content: none;
}
/*修改默认样式*/
.list-block .item-content{
  margin: 0 0.8rem;
  padding-left: 0;
  border-bottom: 1px solid #e2e4e4;
}
.list-block .item-media{
  padding-top: 0;
  padding-bottom: 0;
}
.list-block .item-inner{
  padding-right: 0;
}
/*列表的border-bottom*/
.list-block .item-content.noBottom{
  border-bottom: 0;
}
/*电话 input focus*/
.list-block .item-content.telActive{
  border-bottom: 1px solid #f7bba4;
}

/*个人列表的字体和大小*/
.item-content .item-inner div{
	font-size: 0.8rem;
	color:#333;
}

/*头像的大小*/
.item-inner div.headImg{
	width: 60px;
	height: 60px;
}
.headImg img{
	width: 100%;
	height: 100%;
}
.list-block .item-after{
	max-height: none;
}
/*设置电话的高度*/
.list-block .item-after.telphone{
  max-height:1.4rem;
}
/*修改电话号码*/
.item-content .item-after input{
  text-align: right;
  height:initial;
  font-size: 0.8rem;
  color:#333;
  padding: 2px 0;
  display: block;
  /*border:1px solid red;*/

}
.item-content .item-after .inputTel{
  /*border:1px solid red;*/
  /*display: none;*/
}
.item-content .item-after div.telNum{
  /*display: none;*/
}
/*地址*/
.dizhi{
  /*position: relative;*/
  /*width: 100%;*/
  /*text-align: right;*/
}
.address{
  /*width: 52.1875%;*/
}
.address p{
  margin: 0;
  text-align: right;
}
.city2,.fullAddress2{
  /*display: none;*/
}
/*.item-content .item-after .city{
  position: absolute;
  right:0;
  top:0;
  color: transparent;
}*/
/*.item-content .item-after .fullAddress{
  position: absolute;
  right:0;
  color: red;
  bottom:0;
}*/
/*保存按钮*/
a.button.addBtn{
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #f49068;
  float: none;
}
.fixed_foort{
  padding:0.5rem 0 1rem 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 12.7%;
  margin: auto;
  display: none;
}