.wrap{
	margin: 0 auto;
	color: #999;
  background: #fdfdfd;
  font-size: 0.7rem;
}

/*设置列表*/
.list-block{
  margin:0;
  padding: 0 0.75rem;
}
.list-block ul{
  background-color: #fdfdfd; 
}
.list-block ul:before,.list-block ul:after{
  content: initial;
}
.list-block ul li{
  padding: 10px 0;
  border-bottom: 1px solid #f0f2f2;
}
.list-block ul li a{
  display: block;
  color: #999;
}
.list-block .item-text{
  height: inherit;
}
/*设置名称文本*/
.text{
  display: inline-block;
  vertical-align: middle;
}
.text p{
  color: #262626;
  margin: 0;
  font-size: 0.7rem;
}
.text span{
  font-size: 0.6rem;
}
/*按钮*/
.on_off{
  padding-top: 1rem;
  text-align: right;  
}
/*开启设置*/
.label-switch input[type="checkbox"]:checked + .checkbox{
   background:#03d1ef; 
}
